body { 
    background-color: #F2F6D0;
  }
  .articlesScraped {
    border:1px solid black; 
    padding: 5px;
  }
  .commentTitleBox {
    border: 2px solid black;
    padding: 5px; 
    padding-bottom: 10px;
    margin-bottom: -5px;
    font-weight: bolder;
    text-align: center;
    background-color: white;
  }
  #savecomments {
    float: right;
  }
  textarea, input {
    display: block;
    width: 100%;
    padding-left: 5px;
  }
  #titleinput {
    border: 2px solid  black;
    height: 36px;
  }
  #bodyinput {
    border: 2px solid black;
    border-top: 0;
    height: 200px;
  }
  